<!-- <div class="jumbotron bg-danger p-3 my-3">
    <h1 class="display-3">Jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div> -->

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="index.php">Laboratorio MINSAL</a>
        <a href="{{URL}}"><button class="btn btn-light">HOME</button></a>
        <a href="{{URL}}/sobre"><button class="btn btn-light">SOBRE</button></a>
        <a href="{{URL}}/declaraciones"><button class="btn btn-light">DECLARACIONES</button></a>
      </div>
    </nav>